/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * NoLogo USB Device board definition based on Raspberry Pi Pico (RP2040)
 * Includes:
 * - USB CDC ACM (RP2040 internal USB device controller)
 * - WS2812 LED strip on GPIO22 (PIO-based driver)
 * - USB HID keyboard support
 * - Flash-backed USB MSC storage
 */

/dts-v1/;

#include <freq.h>
#include <raspberrypi/rpi_pico/rp2040.dtsi>
#include "nologo_usb-pinctrl.dtsi"

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	model = "NoLogo USB Device (RP2040)";
	compatible = "nologo,nologo-usb", "raspberrypi,rpi-pico";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &ssi;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,code-partition = &code_partition;
	};

	aliases {
		rtc = &rtc;
		watchdog0 = &wdt0;
		led0 = &led0;
		pwm-led0 = &pwm_led0;
		led-strip = &ws2812;
	};

	/* On-board LED (GPIO25) */
	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			label = "LED";
		};
	};

	pwm_leds {
		compatible = "pwm-leds";
		status = "disabled";

		pwm_led0: pwm_led_0 {
			pwms = <&pwm 9 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM_LED";
		};
	};

	/* USB HID keyboard device (boot keyboard) */
	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "keyboard";
		/* Boot keyboard input report is 8 bytes */
		in-report-size = <8>;
		/*
		 * Polling period: 8ms is a good balance for keyboard.
		 * 1ms was too aggressive and caused "Endpoint busy" errors
		 * on RP2040 USB controller.
		 */
		in-polling-period-us = <8000>;
	};

	/* Flash-backed disk for USB MSC (uses part of onboard flash) */
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "NAND";
		cache-size = <4096>;
	};

	pico_header: connector {
		compatible = "raspberrypi,pico-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 0 0>,	/* GP0 */
			   <1 0 &gpio0 1 0>,	/* GP1 */
			   <2 0 &gpio0 2 0>,	/* GP2 */
			   <3 0 &gpio0 3 0>,	/* GP3 */
			   <4 0 &gpio0 4 0>,	/* GP4 */
			   <5 0 &gpio0 5 0>,	/* GP5 */
			   <6 0 &gpio0 6 0>,	/* GP6 */
			   <7 0 &gpio0 7 0>,	/* GP7 */
			   <8 0 &gpio0 8 0>,	/* GP8 */
			   <9 0 &gpio0 9 0>,	/* GP9 */
			   <10 0 &gpio0 10 0>,	/* GP10 */
			   <11 0 &gpio0 11 0>,	/* GP11 */
			   <12 0 &gpio0 12 0>,	/* GP12 */
			   <13 0 &gpio0 13 0>,	/* GP13 */
			   <14 0 &gpio0 14 0>,	/* GP14 */
			   <15 0 &gpio0 15 0>,	/* GP15 */
			   <16 0 &gpio0 16 0>,	/* GP16 */
			   <17 0 &gpio0 17 0>,	/* GP17 */
			   <18 0 &gpio0 18 0>,	/* GP18 */
			   <19 0 &gpio0 19 0>,	/* GP19 */
			   <20 0 &gpio0 20 0>,	/* GP20 */
			   <21 0 &gpio0 21 0>,	/* GP21 */
			   <22 0 &gpio0 22 0>,	/* GP22 */
			   <26 0 &gpio0 26 0>,	/* GP26 */
			   <27 0 &gpio0 27 0>,	/* GP27 */
			   <28 0 &gpio0 28 0>;	/* GP28 */
	};
};

/*
 * Flash partitions:
 * - 4 MiB total flash (common configuration)
 * - Last 512 KiB reserved for USB MSC storage
 */
&flash0 {
	reg = <0x10000000 DT_SIZE_M(4)>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserved memory for the second stage bootloader */
		second_stage_bootloader: partition@0 {
			label = "second_stage_bootloader";
			reg = <0x00000000 0x100>;
			read-only;
		};

		/*
		 * Usable flash. Starts at 0x100, after the bootloader.
		 * Size is adjusted to leave room for storage partition.
		 */
		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 0x37ff00>;
			read-only;
		};

		/*
		 * Storage partition for USB MSC.
		 * 512 KiB at the end of 4 MiB flash (0x380000..0x3fffff).
		 */
		storage_partition: partition@380000 {
			label = "storage";
			reg = <0x00380000 0x00080000>;
		};
	};
};

&uart0 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&i2c0 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
};

&i2c1 {
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
	status = "disabled";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi0 {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
};

&timer {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&rtc {
	clocks = <&clocks RPI_PICO_CLKID_CLK_RTC>;
	status = "okay";
};

&adc {
	status = "okay";
	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";
};

/* USB device controller */
zephyr_udc0: &usbd {
	status = "okay";

	/* USB CDC ACM UART instance */
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&pwm {
	pinctrl-0 = <&pwm_ch4b_default>;
	pinctrl-names = "default";
};

&vreg {
	regulator-always-on;
	regulator-allowed-modes = <REGULATOR_RPI_PICO_MODE_NORMAL>;
};

/* PIO0 for WS2812 LED strip */
&pio0 {
	status = "okay";

	pio-ws2812 {
		compatible = "worldsemi,ws2812-rpi_pico-pio";
		status = "okay";
		pinctrl-0 = <&ws2812_pio0_default>;
		pinctrl-names = "default";
		bit-waveform = <3>, <3>, <4>;

		ws2812: ws2812 {
			status = "okay";
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			chain-length = <1>;
			/*
			 * Most WS2812/NeoPixel parts are GRB.
			 * Keep status LED semantics: green=pressure, blue=printk, red=fault.
			 */
			color-mapping = <LED_COLOR_ID_GREEN
					 LED_COLOR_ID_RED
					 LED_COLOR_ID_BLUE>;
			reset-delay = <280>;
			frequency = <DT_FREQ_K(800)>;
		};
	};
};

/* Convenient aliases */
pico_spi: &spi0 {};
pico_i2c0: &i2c0 {};
pico_i2c1: &i2c1 {};
pico_serial: &uart0 {};

